@import "tailwindcss";

::-webkit-scrollbar{
    display: none;
}

.ProseMirror{
    outline: none;
}

.ProseMirror img{
    width: 400px;
}

.contentview p{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.contentview img{
    margin: 20px auto;
    width: 400px;
    border-radius: 8px;
}

.contentview strong{
    display: block;
    margin-top: 50px;
}

.pagination{
    display: flex;
    column-gap: 20px;
}

.pagination > li > a{
    font-weight: bold;
    color: #000000a6;
    cursor: pointer;
}

.pagination .active > a{
    color: #ff4550 !important;
}

.boxitem:hover div{
    color: #ff4550 !important;
    font-weight: bold;
}